*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "open sans";
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #023800;    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    /*Acomodo de Texto superior*/
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: rgb(255, 255, 255);
    font-weight: 300;/*ligero*/
    text-decoration: none;/*exceso de rayado*/
    margin-right: 10px;/*separacion*/
    font-size: 20px;
}

nav > a:hover{/*Cuando pasamos el mouse por arriba*/
    text-decoration: underline;/*exceso de rayado*/
    text-decoration-color: #20d33e;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;/*alinear verticalmente*/
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: aliceblue;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
/*Body*/

/* Ajusta las imágenes dentro del contenedor 'sobre-nosotros' */
.contenedor-sobre-nosotros .contenido-textos img {
    max-width: 100px; /* Tamaño máximo de la imagen reducido */
    width: 100%; /* La imagen ocupa todo el ancho del contenedor (hasta el max-width) */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
    border-radius: 8px; /* Bordes redondeados */
}

.contenedor-sobre-nosotros .contenido-textos h3{
    color: #20d33e;
    font-size: 15px;
    margin-left: 10px;
}
.contenedor-sobre-nosotros .contenido-textos{
    background: rgb(44, 44, 44);
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #20d33e;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.contenedor-sobre-nosotros .contenido-textos p{
    color: white;
}

/*FOOTER*/
footer{
    background:rgb(44, 44, 44);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;/*repartir elementos equitativos*/
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #858585;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #ffffff;
    border-bottom: 3px solid #20d33e;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ffffff;
}
.titulo-final{
    color: #9e9797;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
}

/*Responsive*/
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    
    .contenedor-sobre-nosotros{
        display: flex;           /* Usar flexbox para la disposición */
        align-items: center;     /* Centrar los elementos verticalmente */
        justify-content: space-around;  /* Espacio entre los elementos */
        flex-wrap: wrap;         /* Permitir que los elementos se ajusten en múltiples líneas si es necesario */
        gap: 20px; 
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .image-about-us{
        width: 200px;  /* Ajusta el tamaño al valor deseado */
        height: auto; /* Hace que las imágenes floten a la izquierda del texto */
    }
}